.wrapper-shopify {
  padding-block-start: 40px;
  padding-block-end: 40px;
}

.shopify-container {
  width: 100%;
}

.shopify-section {
  display: flex;
  align-items: center;
}

.text_shopify {
  flex: 1;
  text-align: center;
  padding: 50px;
}

.text_shopify h1 {
  font-size: 36px;
  margin-bottom: 15px;
  letter-spacing: -0.8px;
  color: #2e2a39;
  line-height: 1.3;
}

.text_shopify p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-weight: lighter;
}

.rate_shopify {
  margin-top: 20px;
}

.btn_shopify {
  height: 52px !important;
}

.img-show_shopify {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 10px;
}

.img-show_shopify .slide_shopify {
  display: flex;
  gap: 10px;
  width: max-content;
}

.img-show_shopify .slide_shopify > div {
  flex-shrink: 0;
  width: 200px;
  height: auto;
}

.img-show_shopify .video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-show_shopify .swiper-container {
  width: 100%;
  overflow: hidden;
}

.img-show_shopify .swiper-slide {
  width: auto;
  flex-shrink: 0;
}

.img-show_shopify .swiper-slide img,
.img-show_shopify .swiper-slide video {
  width: 283px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  pointer-events: none;
}
