@import url("../global/global.css");

.wrapper-shopify {
  padding-block-start: 40px;
  padding-block-end: 40px;
}

.shopify-container {
  width: 100%;
}

.shopify-section {
  display: flex;
  align-items: center;
}

.text_shopify {
  flex: 1;
  text-align: center;
  padding: 50px;
}

.text_shopify h1 {
  font-size: 36px;
  margin-bottom: 15px;
  letter-spacing: -0.8px;
  color: var(--primary-color);
  line-height: var(--second-lineHeight);
}

.text_shopify p {
  margin-bottom: 15px;
  line-height: var(--primary-lineHeight);
  font-weight: lighter;
}

.rate_shopify {
  margin-top: 20px;
}

.btn_shopify {
  height: 52px !important;
}

.img-show_shopify {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 10px;
}

.img-show_shopify .slide_shopify {
  display: flex;
  gap: 10px;
  width: max-content;
}

.img-show_shopify .slide_shopify > div {
  flex-shrink: 0;
  width: 200px;
  height: auto;
}

.img-show_shopify .video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-show_shopify .swiper-container {
  width: 100%;
  overflow: hidden;
}

.img-show_shopify .swiper-slide {
  width: auto;
  flex-shrink: 0;
}

.img-show_shopify .swiper-slide img,
.img-show_shopify .swiper-slide video {
  width: 283px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  pointer-events: none;
}

/*--------------------------- Wrapper action ------------------------------ */
.wrapper-action {
  padding-block-end: 50px;
  padding-block-start: 50px;
}
.action-container {
  padding-left: 40px;
  padding-right: 40px;
}

.tab-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-action .text_action {
  font-size: 40px;
  line-height: 51px;
  max-width: 475px;
  margin-bottom: 30px;
}

.tab-action h1 {
  color: #000;
  width: max-content;
  display: inline;
}

.tab-action .text_action span {
  font-weight: 100 !important;
  font-style: italic;
}

.tab-action ul {
  display: flex;
  align-items: center;
  border: 1px solid #dedede;
  padding: 5px;
  border-radius: 10px;
}

.tab-action ul li {
  padding: 6px 22px;
  color: var(--primary-bg-color);
  cursor: pointer;
  font-size: 17px;
}

.tab-action ul li.active {
  background-color: var(--primary-bg-color);
  color: white;
  border-radius: 8px;
}

.media-action {
  margin-top: 20px;
  position: relative;
}

.media-action video {
  border-radius: 25px;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.wrapper-compare {
  width: 100%;
}

.compare-container {
  margin-block-end: 48px;
  margin-block-start: 48px;
  display: flex;
  flex-direction: column;
}

.compare_text {
  text-align: center;
}

.compare_text h1 {
  color: var(--primary-color);
  font-size: 36px;
  line-height: var(--second-lineHeight);
  margin-bottom: 20px;
}

.compare_text p {
  font-size: 21px;
  line-height: 1.52;
  color: #625f6b;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.compare_content {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.img_compare {
  width: 512px;
  height: 512px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.img_compare .after {
  background-image: url("/assets/images/prevCompare.webp");
  position: absolute;
  inset: 0;
  z-index: 996;
  width: 50%;
}

.img_compare .before {
  background-image: url("/assets/images/nextCompare.jpg");
  position: absolute;
  inset: 0;
  z-index: 995;
}

.divider {
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background: white;
  transform: translateX(-50%);
  z-index: 997;
  cursor: ew-resize;
}

.handle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20px;
  pointer-events: none;
}

.col-1 {
  width: 25%;
  padding: 0 15px;
}

.col-1 > div {
  display: flex;
  margin-bottom: 30px;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.col-1 > div .before_img_compare {
  max-width: 44px;
  flex: 0 0 44%;
}

.col-1 > div .before_img_compare img {
  max-width: 60px;
  display: block;
  width: 100%;
  height: 60px;
  object-fit: cover;
}

.text_col {
  text-align: center;
}

.text_col h1 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: var(--primary-lineHeight);
}

.text_col p {
  font-size: 18px;
  color: #2e2a39bf;
  line-height: var(--primary-lineHeight);
}

/* -------------------Future-------------------------------- */
.wrapper-future {
  background-color: #fafafa;
}

.section_future {
  padding-bottom: 50px;
  padding-top: 50px;
}

.future_container .future_video {
  width: 100%;
  display: flex;
}

.future_video .video_box {
  width: 50%;
  padding: 0 20px;
  position: relative;
}

.score_video {
  margin: 0 -10px;
}

.mySwiper {
  width: 100%;
  padding: 0 50px;
}

.mySwiper .swiper-wrapper {
  opacity: 1;
  width: 2673px;
  transform: translate3d(-486px, 0px, 0px);
}

.mySwiper .swiper-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  width: 243px;
}

.mySwiper .swiper-slide .video_container {
  width: 100%;
  display: inline-block;
  padding: 0 10px;
}

.video_container .video_inner {
  position: relative;
  padding-top: 206%;
}

.video_inner video {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 10px;
}

.play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.play-button-wrapper .play-gif {
  cursor: pointer;
  pointer-events: auto;
}

.video-inner-container .play-gif {
  opacity: 1;
}

.play-button-wrapper .play-gif svg {
  width: 100px;
  height: 100px;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
  background-color: #e3d2fd;
  border-radius: 50%;
  opacity: 0.9;
}

.text_box {
  width: 50%;
  padding: 0 40px 0px;
}

.text_box h3 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  margin-top: 0;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.progress-container {
  margin-bottom: 10px;
}

.progress-item {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #e8e7e7;
  color: rgba(var(--text-color), 0.75);
}

.circleBarWrapper {
  width: 70px;
  height: 70px;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 8px;
}

.circleBarPercent {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fafafa;
  height: 100%;
  width: 100%;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.02em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 23px;
  color: var(--primary-bg-color);
}

.progress-item .text {
  max-width: 295px;
  margin-left: 50px;
  color: #615e6a;
  font-size: 17px;
}

.asterisk {
  margin: 10px 0 20px;
}

.asterisk p {
  font-size: 14px;
  line-height: 1.2;
  margin: 10px 0 20px;
  color: #2e2a39bf;
}

.btn_progress_link {
  display: inline-block;
  vertical-align: middle;
  background: var(--primary-bg-color);
  font-size: 17px !important;
  color: #fff;
  padding: 10px 35px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
  border-radius: 10px;
}

.btn_progress_link span {
  line-height: var(--primary-lineHeight);
}

/* ---------------Report----------------- */
.wrapper-report {
  margin-block-start: 48px;
  margin-block-end: 48px;
}

.wrapper-report .bg-report {
  background: #fff;
}

.list_rate_report {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 0;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 7px;
}

.list_rate_report .list_star {
  display: flex;
  align-items: center;
  gap: 2px;
}

.list_rate_report span {
  line-height: 21px;
}

.title_report {
  margin-bottom: 20px;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.title_report h3 {
  font-size: 36px;
  color: var(--primary-color);
  font-weight: bold;
}

.list_user_report {
  display: flex;
}

.user_report_item {
  padding: 0 20px;
  width: 33.33%;
}

.text_report {
  margin-top: 15px;
  margin-bottom: 16px;
  text-align: center;
  line-height: var(--primary-lineHeight);
  color: var(--primary-color);
}

.author_report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author_report img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  border-radius: 100%;
}

.author_report h1 {
  margin-top: 5px;
  color: var(--primary-color);
  line-height: var(--second-lineHeight);
}

.verified-user {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #625f6b;
  line-height: var(--primary-lineHeight);
}

.result-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.result-btn a {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  min-width: 350px;
  text-align: center;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .img_compare {
    order: 1;
    height: 500px;
    width: 500px;
  }

  .compare_content .col-1 {
    order: 2;
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .shopify-section {
    flex-wrap: wrap;
  }

  .text_shopify {
    flex: auto;
    order: 1;
  }

  .text_shopify h1 {
    font-size: 26px;
  }

  .btn_shopify {
    font-size: 17px;
  }

  .rate_shopify {
    flex-wrap: wrap;
  }

  .img-show_shopify {
    flex: auto;
  }

  .img-show_shopify video,
  .img-show_shopify img {
    width: 372px !important;
  }

  .tab-action {
    flex-wrap: wrap;
  }

  .tab-action .text_action {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 20px;
  }

  .compare_content {
    justify-content: center;
  }

  .img_compare {
    order: 1;
  }

  .compare_content .col-1 {
    order: 2;
  }
}

/* Response Future */
@media (max-width: 1300px) {
  .future_video .swiper-wrapper {
    height: 100% !important;
  }

  .mySwiper .swiper-slide {
    width: 250px !important;
  }
}

@media (max-width: 1000px) {
  .future_video .video_box {
    padding: 0;
  }
  .score_video {
    height: 100%;
  }

  .future_video .mySwiper {
    height: 100%;
  }

  .future_video .swiper-slide > div {
    height: 100%;
  }

  .future_video .swiper-slide > div .video_container,
  .future_video .swiper-slide > div .video_container .video_inner {
    height: 100%;
  }

  .text_box {
    padding: 0 20px;
  }

  .text_box h3 {
    font-size: 22px;
  }

  .circleBarWrapper {
    width: 50px;
    height: 50px;
    padding: 4px;
  }

  .circleBarPercent {
    font-size: 16px;
  }

  .progress-item .text {
    max-width: none;
    font-size: 15px;
    margin-left: 30px;
  }

  .asterisk p {
    font-size: 13px;
  }

  .btn_progress_link {
    font-size: 15px !important;
  }

  .rate span {
    font-size: 13px;
  }

  .text_box .rate {
    flex-wrap: wrap;
  }

  .text_box .list-star i {
    font-size: 12px;
  }

  .progress-item {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
}

@media (max-width: 900px) {
  .list_user_report {
    flex-wrap: wrap;
  }
  .title_report h3 {
    font-size: 28px;
  }
  .user_report_item {
    padding: 0 5px;
  }
  .text_report {
    font-size: 14px;
    line-height: 1.4;
  }

  .result-btn a {
    font-size: 16px;
    padding: 7px 17px;
    min-width: 250px;
  }
}

@media (max-width: 650px) {
  .future_container .future_video {
    flex-wrap: wrap;
  }

  .video_box {
    margin-bottom: 20px;
  }

  .video_box,
  .text_box {
    width: 100% !important;
  }

  .progress-item {
    justify-content: start;
  }

  .user_report_item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .img_product_report img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .text_report {
    font-size: 16px;
    line-height: 1.6;
  }
}
