.questions-container {
  padding: 48px 0;
}

.questions-container > h1,
.container-risk-free > h1,
.container-product-end h1 {
  font-size: 36px;
  color: var(--primary-color);
  text-align: center;
  line-height: var(--second-lineHeight);
  margin-bottom: 20px;
}

.wrapper-arcodion {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-arcodion .title {
  padding: 15px 24px;
}

.wrapper-arcodion .active {
  background-color: var(--primary-color);
  color: white;
  border-radius: 14px;
}

.wrapper-arcodion .promt {
  padding: 0 24px;
}

.wrapper-arcodion .promt.open {
  padding: 20px 24px;
}

.wrapper-arcodion .promt p,
.wrapper-arcodion .promt {
  margin-bottom: 10px;
  font-size: 14px;
  color: #696771;
}

.container-risk-free {
  padding: 20px 0;
}

.icon-risk-free {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.icon-risk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33.33%;
  padding: 0 20px;
}

.icon-risk img {
  height: 130px;
  width: 130px;
}

.icon-risk h1 {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
}

.wrapper-product_end {
  margin: 48px 0;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  margin: auto;
  max-width: 270px;
}
.card img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.discount-label {
  position: absolute;
  background: #453c5d;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 5px;
  top: 10px;
  left: 10px;
}
.product-info-card {
  padding: 10px 0;
  text-align: left;
}
.product-name {
  font-size: 17px;
  color: var(--primary-color);
  margin-bottom: 5px;
  font-weight: bold;
}
.price {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-bg-color);
}
.old-price {
  text-decoration: line-through;
  color: #c2bfcd;
  margin-right: 5px;
  font-size: 18px;
  font-weight: lighter;
}
