@import url("reset.css");
@import url("./global/header.css");
@import url("./page/productDetail.css");
@import url("./page/slide.css");
@import url("./page/other.css");
@import url("./global/cart.css");
@import url("./ultis/arcodion.css");
@import url("./page/compare.css");
@import url("./page/comment.css");
@import url("./page/question.css");
@import url("./global/footer.css");

.container-page {
  max-width: 640px;
  padding: 0 16px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
@media (min-width: 768px) {
  .container-page {
    max-width: 768px;
    padding: 0 20px;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}
@media (min-width: 769px) {
  .container-page {
    max-width: 1290px;
    padding: 0 40px;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}
